@import url('https://fonts.googleapis.com/css2?family=Festive&family=Fruktur&family=Irish+Grover&family=Mochiy+Pop+One&family=Montserrat:wght@200;400;800&family=Qahiri&display=swap');

/* 
font-family: 'Festive', cursive;
font-family: 'Fruktur', cursive;
font-family: 'Irish Grover', cursive;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Qahiri', sans-serif;
*/

.MuiList-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.wow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* float:; */
}

.MuiOutlinedInput-input{
    color:white;
}